ion-content ion-toolbar {
  --background: translucent;


}
ion-select {
  color: #3880ff!important;
}
.result {
  color: green;
}
.info-toolbar {
  size: 2rem;
}
.segment-cust {
  padding-top: 20px;
}
.cust-res {
  padding-left: 15px;
}
.cust-tbl {
  width: 100%;
}
.cust-right {
  text-align: -webkit-right;
}
.cust-center {
  text-align: -webkit-center;
}
.icon-info {
  height: 30px;
  width: 30px;
}
.icon-cust-right {
  width: 40px;
  text-align: -webkit-right;
}